extends layout

block content
    main(class="grid col-auto lg:grid-cols-4 sm:h-screen")
        //-first part
        section(class="w-full sm:w-[10vw]")
            img(loading="lazy" src="../img/logo.png" alt="logo" class="w-[40%] lg:w-50 pt-8 pl-4 sm:w-56 sm:inline-block lg:block lg:px-5 float-left sm:float-none")
            div(class="hidden lg:block lg:sticky lg:top-[5%] ml-10")
                div(class="w-full") 
                    img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="w-[80%] p-[5%] mt-7")
                div(class="w-full") 
                    img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="w-[80%] p-[5%] mt-7")
                div(class="w-full") 
                    img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="w-[80%] p-[5%] mt-7")
                div(class="w-full") 
                    img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="w-[80%] p-[5%] mt-7")
                div(class="w-full") 
                    img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="w-[80%] p-[5%] mt-7")
            nav(class="border-gray-200 sm:hidden")
                div(class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4")
                    button(data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-200 rounded-lg" aria-controls="navbar-default" aria-expanded="false" onclick="toggleNav()")
                        span(class="sr-only") Navigace
                        svg(class="w-5 h-5 fixed right-6" aria-hidden="true" fill="none" viewBox="0 0 17 14")
                            path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15")
                    div(class="hidden w-full md:block md:w-auto" id="navbar-default")
                        ul(class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 animate-slide-right")
                            li
                                button(class="bg-[#74C7D3] text-black font-bold py-2 px-4 border-b-4 border-[#2F7282] rounded") Přihlášení pro Admin
                            li
                                button(class="relative bg-[#74C7D3] py-2 px-4 border-b-4 border-[#2F7282] rounded flex items-center justify-center mx-auto my-auto mt-3")
                                    img(src="../../../img/add_button.png", alt="Ikona přídání", class="w-1/6 ml-2")
                                    p(class="text-black font-bold ml-4") Přidat aktivitu
            
        section(class="w-full sm:mt-10 text-left sm:col-span-2 mt-20")
            h1(class="text-2xl text-center sm:text-right sm:mr-24 text-white") Vyhledej si vysněnou aktivitu
            form(class="max-w-xl mx-auto")   
                label(for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white") Vyhledat
                div(class="relative")
                    div(class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none")
                        svg(class="w-4 h-4 text-white dark:text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 20 20")
                            path(stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z")
                    input(type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white" required)
                    button(type="submit" class="text-white absolute end-2.5 bottom-2.5 font-medium rounded-lg text-sm px-4 py-2 bg-[#74C7D3]") Vyhledat

            div(class="sm:mt-10 mt-5")
                h1(class="text-5xl text-center sm:text-left text-white") Seznam aktivit
            each value in activitys
                div(class=" mt-6 float-left bg-white w-full p-5 sm:w-11/12 list-none border-b-4 border-[#979897] rounded mb-16")
                    div(class="grid grid-cols-2")
                        div(class="w-full mt-5")
                            p(class="font-bold") Název:
                                p(class="ml-[15%] text-2xl")= value.activityName
                        div(class="w-full")
                            div(class="grid grid-cols-2")
                                div(class="w-full my-auto")
                                    each v in value.agenda
                                        img(src="../../../img/clock_icon.png", alt="Hodiny" class="w-1/4 ml-5 mt-4")
                                        p(class="mt-2")=`${v.duration} minut`
                                div(class="w-full")
                                    each v in value.edLevel
                                                if v === "primarySchool" || v === "Školka"
                                                    img(src="../../../img/children_icon.png", alt="Děti ve školce" class="w-1/4 mt-4")
                                                    li(class="mt-2")=v
                                                else if v === "secondarySchool" || v === "Základní škola"
                                                    img(src="../../../img/children2_icon.png", alt="Děti na základní škole" class="w-1/4 mt-4")
                                                    li(class="mt-2")=v
                                                else if v === "highSchool" || v === "Střední škola"
                                                    img(src="../../../img/children3_icon.png", alt="Děti na střední škole" class="w-1/4 mt-4")
                                                    li(class="mt-2")=v
                            
                    p(class="font-bold mt-3") Popisek: 
                        p(class="mt-2")= value.description
                    

        section(class="w-full mx-auto mt-14 lg:grid-cols-1 lg:gap-1 lg:flex lg:flex-col lg:m-0 lg:p-5 border-l-4 border-l-white hidden sm:visible")  
            div(class="mx-auto mt-[10%]")
                button(class="bg-[#74C7D3] text-black font-bold py-2 px-4 border-b-4 border-[#2F7282] rounded") Přihlášení pro Admin
            div(class="my-auto mx-auto")
                h1(class="text-white w-[70%] my-auto mx-auto flex justify-center text-center mb-3") Máš svoji oblíbenou aktivitu? Poděl se s ní s ostatními
                button(class="relative bg-[#74C7D3] py-2 px-4 border-b-4 border-[#2F7282] rounded flex items-center justify-center mx-auto my-auto")
                    img(src="../../../img/add_button.png", alt="Ikona přídání", class="w-1/6 ml-2")
                    p(class="text-black font-bold ml-4") Přidat aktivitu


    script.
        function toggleNav() {
            var nav = document.getElementById("navbar-default");
            nav.classList.toggle("hidden");
        }