extends layout

block content
  div(class="flex mx-auto flex-col  w-10/12 lg:flex-row lg:my-0 lg:mx-0 lg:w-screen lg:h-screen sm:w-10/12 sm:mx-auto size-full overflow-x-hidden")

    //-first part
    div(class="w-full lg:w-1/4")
      img(src="../../img/logo.png", alt="logo", class="w-1/4 mb-10 lg:w-5/12 lg:ml-12 lg:mt-10 sm:float-left")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-20 lg:block hidden") 
        img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="relative w-1/3 lg:w-24 animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-20 lg:block hidden") 
        img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="relative w-1/3 lg:w-24  animate-pulse")

    //- second part
    div(class="w-full lg:w-2/4 flex mt-20")
      each n in lector
        a(href=n.uuid, class="w-full flex items-center") 
          div(class="flex-initial w-1/2")
            img(src=n.picture_url, alt="", class="rounded-full")
          div(class="flex-initial w-1/2")
            p= n.claim
            p= n.price_per_hour
            p= n.location
            p= n.tags[0].name
            p= n.tags[1].name



    //-third part
    div(class="lg:w-1/4")
