extends layout

block content
  div(class="flex mx-auto flex-col  w-10/12 lg:flex-row lg:my-0 lg:mx-0 lg:w-screen lg:h-screen sm:w-10/12 sm:mx-auto size-full overflow-x-hidden" style="background:#02384D")

    //-first part
    div(class="w-full lg:w-1/4")
      img(src="../../img/logo.png", alt="logo", class="w-1/4 mb-10 lg:w-5/12 lg:ml-12 lg:mt-10 sm:float-left")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-20 lg:block hidden") 
        img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="relative w-1/3 lg:w-24 animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-20 lg:block hidden") 
        img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="relative w-1/3 lg:w-24  animate-pulse")

      div(class="w-1/2 relative lg:h-[15%] lg:ml-20 mt-5 lg:block hidden") 
        img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="relative w-1/3 lg:w-24  animate-pulse")

    //- second part
    div(class="w-full lg:w-2/4 flex mt-20")
      each n in lector
        a(href=n.uuid, class="w-full flex items-center") 
          div(class="flex-initial w-1/2")
            img(src=n.picture_url, alt="", class="rounded-full")
          div(class="flex-initial w-1/2")
            p= n.claim
            p= n.price_per_hour
            p= n.location
            p= n.tags[0].name
            p= n.tags[1].name



    //-third part
    div(class="lg:w-1/4")
      //-price range
      div(class="range")
        div(class="range-slider")
          span(class="range-selected")
        div(class="range-input")
          input(class="min" type="range" min="0" max="1000" value="0" step="1")
          input(class="max" type="range" min="0" max="1000" value="0" step="1")
        div(class="range-price")
          label(for="min") Min
          input(type="number" name="min" value="0")
          label(for="max") Max
          input(type="number" name="max" value="1000")
        //- checkbox
      div(class="checkbox")
        input(value="Ananas" type="checkbox" id="a")
        label(for="a") Ananas
      div(class="checkbox")
        input(value="Banán" type="checkbox" id="b")
        label(for="b") Banán
      div(class="checkbox")
        button(onclick="myFunction()") Klikni
      p(id="output")





      //-div(class="wrapper")
        div(class="price-input")
          div(class="field")
            span(for="input-min") Min
            input(type="number" class="input-min" value="0")
          div(class="field")
            span(for="input-max") Max
            input(type="number" class="input-max" value="6000")
          div(class="slider")
            div(class="progress")
          div(class="range-input")
            input(type="range" class="range-min" min="0" max="6000" value="0")
            input(type="range" class="range-max" min="0" max="6000" value="6000")

      //-div(data-role="rangeslider")
        label(for='range-1a') Price Range:
        input(name="range-1a" id="range-1a" min="0" max="6000" value="0" type="range")
        label(for='range-1b') Price Range:
        input(name="range-1b" id="range-1b" min="0" max="6000" value="6000" type="range") 